* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.container {
    width: 450px;
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #38bdf8;
}

.progress-container {
    width: 100%;
    height: 10px;
    background: #334155;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}

#progress-bar {
    height: 100%;
    background: #38bdf8;
    width: 0%;
    transition: width 0.5s;
}

#timer {
    text-align: right;
    font-size: 16px;
    margin-bottom: 15px;
    color: #fbbf24;
}

#question {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    background: #334155;
    border: none;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background: #475569;
}

.correct {
    background: #16a34a !important;
}

.incorrect {
    background: #dc2626 !important;
}

#next-btn {
    width: 100%;
    padding: 12px;
    background: #38bdf8;
    border: none;
    color: #0f172a;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
    margin-top: 15px;
}

#next-btn:hover {
    background: #0284c7;
}
